@charset "UTF-8";


/* 基本 */
*{
    margin: 0 auto;
    padding:0;
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    background-color: transparent;
}

body{
    background-color: rgb(239,239,236);
    line-height: 1.8;
    letter-spacing:1px;
    margin-top: 0px;
}

/* ろ～でぃんぐ */

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(239,239,236);
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader .txt {
    font-size: 20px;
    font-weight: bold;
   color: rgb(65, 104, 7);
   background-color: transparent;
  }

  /* めにゅ～ */

  [type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  display: none;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(58, 70, 53, 0.3);
  background-color: #a0bf5d;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 30px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
  text-decoration: none;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #728826;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  content: '';
  height: 5px;
  margin-top: 2.5vh;
  width: auto;
  left: 0;
  background-color: #eef4d968;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}

/* ぱららっくす */

.para{
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 2s, visibility 2s, transform 2s;
  }
  
  .is-fadein {
      opacity: 2;
      visibility: visible;
      transform: translateX(0);
    }

    /* へっだ～ */

header h1{
    margin: 100px 0px 0px 0px;
    text-align: center;
    color: #083e0b;
}

header

.header_matome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 100px 0px;
}

.header_img{
    position: relative;
    margin: 0px;
    width: 550px;
}

.header_PC{
    width: 30%;
    height: auto;
    position: absolute;
    top: 32%;
    left: 50%;
    background-color: transparent;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

}



.header_mochi{
    width: 100%;
    height: auto;
}

.header_matome p{
    margin: 0px ;
    font-size: 14px;
}

hr{
    margin-top: 60px;
    width: 80%;
    border-top: 2px dashed #083e0b;
}

main section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

figcaption{
    display: inline-block;
    width: 50%;
    height: auto;
    text-align: center;
}

.up{
    margin: 80px 0px 20px 0px;
    text-align: center;
}


.down{
    margin: 30px 0px 20px 0px;
    text-align: left;
    height: auto;
}

figure{
    width: 60%;
    height: auto;
}

figure img{
    width: 50%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
}




footer{
    margin-top: 200px;
    height: auto;
    width: auto;
    background-color: #6ea03b;
  }
  
  footer h1{
    padding: 50px 0px 20px 0px;
    background-color: transparent;
    color: #f3fcdc;
  }
  
  footer ul{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 100px 0px;
    margin: 0px 200px;
  }
  
  footer li{
    background-color: transparent;
    list-style: none;
  }
  
  footer a{
    background-color: transparent;
    color: #f3fcdc;
    text-decoration: none;
  }

  .big{
    margin: 200px auto;
    color: #333;
  }

  @media screen and (max-width:850px) {

    p{
      font-size: 14px;
    }

    main section{
      display: inline-block;
      text-align: center;
    }

    figure img{
      width: 90%;
      height: auto;
      padding: 15px;
      border-radius: 30px;
    }

    .up{
      width: 90%;
      height: auto;
    }

    .down{
      width: 90%;
      height: auto;
    }

    hr{
      display: none;
    }

    footer ul{
        margin: 0px auto;
      }
      
      footer li{
        margin: 0px 10px;
      }
      
      .big{
        margin: 150px auto;
      }
  }
